nav{
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
} 
nav a{
    margin: 10px;
    color: azure;
}
nav a:hover{
    background-color: red;
}
.right button{
    background-color: rgba(43, 35, 35, 0.726);
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
}

