table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: grey;
    color: white;
}
td{
    padding: 10px;
   color: aqua;
    text-align: center;
}
tbody tr:nth-child(even){
    background-color:#f2f2f2 ;
}
.badge{
    display: inline-block;
    border-radius:8px;
    background-color:green;
} 
